 <footer>
    <section>
        <h3><b>Portfolio</b></h3>
        <p>
            Created with <span class="glyphicon glyphicon-heart"></span>&nbsp; By the developer - Suraj Shrestha
        </p>
    </section>
    <section>
            <h3><b>Connect More</b></h3>
            <ul class="social">
                <li><a href="#"><img src="images/footer-facebook.png"></a></li>


                <li><a href="#"><img src="images/footer-googleplus.png"></a></li>


                <li><a href="#"><img src="images/footer-twitter.png"></a></li>


                <li><a href="#"><img src="images/footer-youtube.png"></a></li>
            </ul>
    </section>
    <section>
            <li>
            <h3>For more information.<br/>
            <small> Please contact here:<br/>
            Contact number: +4740593775
            </small></h3>
            </li>

    </section>
    </footer>
    
    <footer  class="second">
            <p>Copyright@ Suraj Shrestha</p>
    </footer>
    